@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 130%;
}

.navbar {
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 2rem;
  align-items: center;
}

.navbar img {
  height: 60px;
  width: auto;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  margin: 1rem;
}

.navbar a:hover {
  font-weight: bold;
}

.video-player {
  position: absolute;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;
}

.video-player video {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.34);
}

.text {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.line {
  height: 2px;
  border-radius: 999px;
  background: #fff;
  width: 20vw;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
}

.line .square {
  height: 10px;
  width: 10px;
  background: #fff;
  transform: rotate(45deg);
  transform-origin: center;
}

.line .square:last-child {
  position: absolute;
  right: 0;
}

.about {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  margin-top: 50vh;
}

.about > div {
  display: flex;
  justify-content: center;
  width: 60vw;
  align-items: center;
}

.about p {
  min-width: 400px;
  max-width: 500px;
  margin-top: 1rem;
}

.about-text {
  margin-left: 2rem;
}

@media screen and (max-width: 800px) {
  .about > div {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .about p {
    font-size: 1rem;
    min-width: 300px;
    max-width: 500px;
  }

  .about h1 {
    font-size: 1.5rem;
  }

  .about-text {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/*330771*/

.burger div {
  height: 3px;
  width: 50px;
  background-color: #fff;
  z-index: 999;
  margin: 0.8rem;
  transition: all 0.5s linear;
}

.burger {
  position: absolute;
  display: none;
  margin-top: 2rem;
}

.open .line3 {
  opacity: 0;
}
.open .line1 {
  transform: rotateZ(45deg);
  position: absolute;
  background: #000;
}
.open .line2 {
  transform: rotateZ(-45deg);
  position: absolute;
  background: #000;
}

@media screen and (max-width: 850px) {
  .navbar ul {
    flex-direction: column;
    align-items: space-around;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 999;
    background-color: #fff;
    width: 100%;
    transition: all 0.5s ease;
  }

  .navbar li {
    margin: 1rem 0;
  }

  .navbar a {
    color: #000;
  }

  .burger {
    display: block;
    z-index: 9999;
  }
}

.link-open {
  transform: translate(-50%, 0%) !important;
}

@media screen and (min-width: 850px) {
  .link-open {
    transform: translate(0%, 0%) !important;
  }
}
